.counter__wrapper {
  /* border: solid black 1px; */
  width: 90%;
  margin: 0 auto;
}

.counter__display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: solid blue 1px; */
}

.display__value {
  font-size: 2rem;
}

.msg-hidden {
  display: none;
}